{% extends 'base.html' %}
{% block title %}Posts{% endblock %}
{% block content %}
<h3>Write a post</h3>
<form action="{{ url_for('create_post') }}" method="POST">
    <textarea class="input-block-level" type="text" name="body" placeholder="Whats on your mind ?" rows="3"></textarea>
    <button class="btn btn-primary" type="submit">Post !</button>
</form>
<hr>
{% for post in posts %}
    <div class="row-fluid">
      <div class="row-fluid">
        <strong class="span9"><a href="{{ url_for('show_posts', user=post.user.username) }}">{{ post.user.name }}</a></strong>
        <p class="muted span3" style="text-align: right;">{{ post.created|pretty_date }}</p>
      </div>
      <div class="row-fluid">{{ post.body }}</div>
    </div>
    <hr>

{% else %}
    <h4 class="muted">No posts to display</h4>
{% endfor %}
<ul class="pager">
  {% if page > 1 %}
  <li class="previous">
    {% if user is not none %}
        <a href="{{ url_for('show_posts', user=user.username, page=page-1) }}">&larr; Older</a>
    {% else %}
        <a href="{{ url_for('show_posts', page=page-1) }}">&larr; Older</a>
    {% endif %}
  </li>
  {% endif %}
  <li class="next">
    {% if user is not none %}
        <a href="{{ url_for('show_posts', user=user.username, page=page+1) }}">Newer &rarr;</a>
    {% else %}
        <a href="{{ url_for('show_posts', page=page+1) }}">Newer &rarr;</a>
    {% endif %}
  </li>
</ul>
{% endblock %}